<!doctype html>
<html>
<head><title>Facturar</title>



</head>
<body>
<h1>Crear Factura</h1>
<form method="POST">
    {% for prod in productos %}
        <div>
            <label>{{ prod[1] }}</label>
            <input type="hidden" name="producto_id" value="{{ prod[0] }}">
            <input type="number" name="cantidad" min="0" value="0">
        </div>
    {% endfor %}
    <button type="submit">Facturar</button>
</form>
<a href="/">Volver al inventario</a>
</body>
</html>